---
title: Read &amp; Discover
permalink: /read/
nav_order: 10
tags: page
---
<p>Plenty of my stuff is online for free. Why? Because I'm an idiot, apparently. No, but serious, though, folks: I've been around. Part of trying to get people to publish you is letting other people publish you way out in the open. Read some of my stuff below.</p>

<p>Do you want access to an exclusive ebook of some of my short stories? <a href="{{ site.patreonLink }}" target="_blank" rel="noopener">Support me on Patreon</a> and get at least that free ebook as a reward. Learn more about how you can support my habit on my <a href="/support/">Support page</a>.</p>

<div class="story">
    <h2 class="story--headline">Novels</h2>

    <ol class="story--list">
        {% for story in novels %}
            <li class="story--item" id="novel_{{ story.id }}">
                <div class="columns-flex">
                    <div class="columns-flex__sidebar u--text-center">
                        {% if story.cover %}
                            <img src="{{ story.cover }}" alt="" height="300" width="188" />
                        {% endif %}
                    </div>
                    <div>
                        <h3 class="story--heading">&ldquo;{{ story.title }}&rdquo;</h3>

                        <p class="story--summary">
                            {{ story.summary }}

                            <span class="story--meta">Published on {{ story.publish_date | shortdate }}</span>
                        </p>

                        {% if story.links %}
                            <ol class="story--list">
                                {% for link in story.links %}
                                    <li class="story--link">
                                        <a href="{{ link.link }}" target="_blank" rel="noopener">{{ link.label }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>

<hr>

<div class="story">
    <h2 class="story--headline">Poetry</h2>

    <ol class="story--list">
        {% for story in poetry %}
            <li class="story--item" id="poetry_{{ story.id }}">
                <div class="columns-flex">
                    <div class="columns-flex__sidebar u--text-center">
                        {% if story.cover %}
                            <img src="{{ story.cover }}" alt="" height="300" width="204" />
                        {% endif %}
                    </div>
                    <div>
                        <h3 class="story--heading">&ldquo;{{ story.title }}&rdquo;</h3>

                        <p class="story--summary">
                            {{ story.summary }}

                            <span class="story--meta">Published on {{ story.publish_date | shortdate }}</span>
                        </p>

                        {% if story.links %}
                            <ol class="story--list">
                                {% for link in story.links %}
                                    <li class="story--link">
                                        <a href="{{ link.link }}" target="_blank" rel="noopener">{{ link.label }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>

<hr>

<div class="story">
    <h2 class="story--headline">Comics &amp; Graphic Novels</h2>

    <ol class="story--list">
        {% for story in comics %}
            <li class="story--item" id="comic_{{ story.id }}">
                <div class="columns-flex">
                    <div class="columns-flex__sidebar u--text-center">
                        {% if story.cover %}
                            <img src="{{ story.cover }}" alt="" height="300" width="204" />
                        {% endif %}
                    </div>
                    <div>
                        <h3 class="story--heading">&ldquo;{{ story.title }}&rdquo;</h3>

                        <p class="story--summary">
                            {{ story.summary }}

                            <span class="story--meta">Published on {{ story.publish_date | shortdate }}</span>
                        </p>

                        {% if story.links %}
                            <ol class="story--list">
                                {% for link in story.links %}
                                    <li class="story--link">
                                        <a href="{{ link.link }}" target="_blank" rel="noopener">{{ link.label }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>

<hr>

<div class="story">
    <h2 class="story--headline">Short Stories</h2>

    <ol class="story--list">
        {% for story in short_stories %}
            <li class="story--item" id="story_{{ story.id }}">
                <h3 class="story--heading">&ldquo;{{ story.title }}&rdquo;</h3>

                <p class="story--summary">
                    {{ story.summary }}

                    <span class="story--meta">Published on {{ story.publish_date | shortdate }}</span>
                </p>

                {% if story.links %}
                    <ol class="story--list">
                        {% for link in story.links %}
                            <li class="story--link">
                                <a href="{{ link.link }}">{{ link.label }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
