<footer class="footer" role="contentinfo">
    <h3 class="footer--follow">Follow Miles</h3>

    <nav class="footer--nav nav" role="navigation">
        <ul class="nav--list">
            <li class="nav--item">
                <a class="nav--link" href="https://www.patreon.com/user?u=784219&amp;ty=h" target="_blank">
                    On Patreon
                </a>
            </li>
            <li class="nav--item">
                <a class="nav--link" href="https://twitter.com/awayken" target="_blank">
                    On Twitter
                </a>
            </li>
            <li class="nav--item">
                <a class="nav--link" href="https://github.com/awayken/miles.ink" target="_blank">
                    On GitHub
                </a>
            </li>
        </ul>
    </nav>

    <span class="footer--copyright">&copy; Miles Rausch</span>
</footer>
