<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "CreativeWork",
        "url": "{{ work.url }}",
        "name": "{{ work.title }}",
        "description": {{ work.summary | jsonify }},
        "author": {
            "@type": "Person",
            "name": "{% if work.author %}{{ work.author }}{% else %}{{ site.author }}{% endif %}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ work.publisher }}",
            "logo": "{{ work.publisher_logo }}"
        },
        "datePublished": "{{ work.publish_date | date: "%b %-d, %Y" }}",
        "dateModified": "{{ work.publish_date | date: "%b %-d, %Y" }}"
    }
</script>
