<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "CreativeWork",
        "url": "{{ include.work.url }}",
        "name": "{{ include.work.title }}",
        "description": {{ include.work.summary | jsonify }},
        "author": {
            "@type": "Person",
            "name": "{% if include.work.author %}{{ include.work.author }}{% else %}{{ site.author }}{% endif %}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ include.work.publisher }}",
            "logo": "{{ include.work.publisher_logo }}"
        },
        "datePublished": "{{ include.work.publish_date | date: "%b %-d, %Y" }}",
        "dateModified": "{{ include.work.publish_date | date: "%b %-d, %Y" }}"
    }
</script>
