<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "url": "{{ article.url }}",
        "mainEntityOfPage": {{ article.content | jsonify }},
        "name": "{{ article.title }}",
        "headline": "{{ article.title }}",
        "image": "/files/logo.jpg",
        "description": {{ article.excerpt | jsonify }},
        "author": {
            "@type": "Person",
            "name": "{% if article.author %}{{ article.author }}{% else %}{{ site.author }}{% endif %}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": "/files/logo.jpg"
        },
        "datePublished": "{{ article.date | date: "%b %-d, %Y" }}",
        "dateModified": "{{ article.date | date: "%b %-d, %Y" }}",
        "keywords": "{{ article.tags | array_to_sentence_string }}"
    }
</script>
