/**
*** Columns
**/

.columns--column {
    box-sizing: border-box;
}

.columns--column + .columns--column {
    margin-top: 1em;
}

@media print, screen and (min-width: 48em) {
    .columns::before,
    .columns::after {
        content: "";
        display: table;
    }
    .columns::after {
        clear: both;
    }

    .columns--column {
        float: left;
        width: 49%;
    }

    .columns--column + .columns--column {
        margin-left: 2%;
        margin-top: 0;
    }
}
