/**
*** Footer
**/

.footer {
    margin-bottom: 1em;
    text-align: center;
}

.footer--follow {
    font-size: 1em;
    margin: 0;
}

.footer--nav {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: .5em;
}

.footer--copyright {
    font-size: .875em;
}
