/**
*** Footer
**/

@import "_variables";

.footer {
    background: $color-brand;
    color: #fff;
    margin-bottom: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover,
.footer a:active,
.footer a:focus {
    text-decoration: underline;
}

.footer--follow {
    font-size: 1em;
    margin: 0;
}

.footer--nav {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: .5em;
}

.footer--copyright {
    font-size: .875em;
}
