/**
*** General styles
**/

@import "_variables";

html {
    background: $color-brand;
}

body {
    background: #fff;
    color: $color-text;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: $size-base;
    line-height: 1.3;
}

a {
    color: $color-brand;
}
a:hover,
a:active {
    color: darken($color-brand, 15%);
}

h1,
h2 {
    line-height: 1;
}

.wf-vollkorn-n4-active h1,
.wf-vollkorn-n4-active h2 {
    font-family: "Vollkorn", Georgia, serif;
    font-weight: normal;
}

h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

.wf-kurale-n4-active h3,
.wf-kurale-n4-active h4,
.wf-kurale-n4-active h5,
.wf-kurale-n4-active h6 {
    font-family: "Kurale", Georgia, serif;
    font-weight: normal;
}

@media screen and (min-width: 48em) {
    html {
        background: url("/files/bookshelf.jpg") no-repeat center top #c3bfad;
        background-size: cover;
    }

    body {
        background: transparent;
    }
}

@media print {
    html {
        background: transparent;
    }

    body {
        font-size: $size-print-base;
    }

    a {
        color: $color-text;
        font-weight: bold;
        text-decoration: none;
    }
    a[href^="http"]:after {
        content: " (" attr(href) ")";
    }
    a[href^="/"]:after {
        content: " (https://miles.ink" attr(href) ")";
    }
}
