/**
*** General styles
**/

@import "_variables";

html {
    background: $color-brand;
}

body {
    background: #fff;
    font-family: Georgia, serif;
    font-size: 1em;
}

a {
    color: $color-brand;
}
a:hover,
a:active {
    color: darken($color-brand, 15%);
}

.page {
    box-sizing: border-box;
    background: rgba(255, 255, 255, .98);
    margin: 0 auto;
    max-width: 75em;
}

.page > * {
    padding: .25em 1em;
}
.page > *:first-child {
    padding: 1em 1em .5em;
}
.page > *:last-child {
    padding: .5em 1em 1em;
}

@media screen and (min-width: 75em) {
    html {
        background: transparent;
    }

    body {
        background: url("/files/bookshelf.jpg") no-repeat center top #fff;
        background-size: cover;
    }

    .page {
        box-shadow: 0 0 .45em rgba(0, 0, 0, .4);
        margin-top: 8em;
    }
}
