/**
*** Nav
**/

@import "_variables";

.nav {
    font-size: $size-large;
    margin-bottom: 1em;
}

.nav--list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: .5em 0;
}

.nav--item {
    flex: none;
    padding: 0 .25em;
}

.nav--back::before {
    content: "« ";
}

@media print {
    .nav {
        display: none;
    }
}
