/**
*** Nav
**/

@import "_variables";

.nav {
    font-size: $size-large;
    margin-bottom: 1em;
}

.nav--list {
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: .5em 0;
    text-align: center;
    white-space: nowrap;
}

.nav--item,
.nav--link {
    display: inline-block;
    vertical-align: top;
}

.nav--item + .nav--item {
    padding-left: 1em;
}

.nav--back::before {
    content: "<";
}

@media print {
    .nav {
        display: none;
    }
}
