/**
*** News
**/

@import "_variables";

.news--headline {
    font-size: $size-huge;
    line-height: 1.3;
    margin: 0 0 .5em 0;
    padding: 0;
}

.news--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news--item {
    margin-bottom: 1em;
}

.news--heading,
.news--meta {
    display: inline-block;
    vertical-align: baseline;
}

.news--heading {
    font-size: $size-large;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.news--meta {
    font-size: $size-small;
    font-style: italic;
}
.news--meta:before {
    content: "(";
}
.news--meta:after {
    content: ")";
}

.news--heading + .news--meta {
    margin-left: .25em;
}

.news--excerpt {
    border-left: 2px solid $color-accent;
    display: block;
    margin-top: .5em;
    padding: .25em .25em .25em .5em;
}
.news--excerpt p {
    margin: 0;
}
.news--excerpt p + p {
    margin-top: .5em;
}

.news--subscribe {
    display: block;
}

.news--tag {
    display: inline-block;
    font-size: $size-small;
    font-style: italic;
    vertical-align: top;
}
.news--tag + .news--tag {
    margin-left: .25em;
}

@media print {
    .news--headline {
        font-size: $size-print-huge;
    }

    .news--heading {
        font-size: $size-print-large;
    }
    .news--heading .news--link:after {
        content: "http://miles.ink" attr(href);
        display: block;
        font-family: Georgia, "Times New Roman", serif;
        font-size: $size-print-base;
        font-weight: normal;
    }

    .news--meta,
    .news--tag {
        font-size: $size-print-small;
    }

    .news--excerpt {
        border-left: 2px solid $color-text;
    }
}
