/**
*** Story
**/

@import "_variables";

.story--headline {
    font-size: $size-huge;
    line-height: 1.3;
    margin: 0 0 .5em 0;
    padding: 0;
}

.story--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.story--item {
    margin-bottom: 1em;
}

.story--heading,
.story--meta {
    display: inline-block;
    vertical-align: baseline;
}

.story--heading {
    font-size: $size-large;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.story--meta {
    font-size: $size-small;
    font-style: italic;
}
.story--meta:before {
    content: "(";
}
.story--meta:after {
    content: ")";
}

.story--summary {
    margin-top: .5em;
    padding: .25em .25em .25em .5em;
}

.story--link {
    display: inline-block;
    vertical-align: top;
}
.story--link + .story--link {
    margin-left: .25em;
}

@media print {
    .story--headline {
        font-size: $size-print-huge;
    }

    .story--heading {
        font-size: $size-print-large;
    }

    .story--meta {
        font-size: $size-print-small;
    }

    .story--link {
        display: block;
    }
    .story--link [href^="http"]:after {
        content: " at " attr(href);
    }
    .story--link [href^="/"]:after {
        content: " at https://miles.ink" attr(href);
    }
    .story--link + .story--link {
        margin-left: 0;
    }
}
