/**
*** Variables
**/

$color-brand: #660066;
$color-brand-bright: #7F0D7F;
$color-accent: #0A6658;
$color-accent-bright: #067F6D;
$color-secondary: #403306;
$color-text: #0c0c0c;

$size-tiny: 1em;
$size-small: .875em;
$size-base: 1.1em;
$size-large: 1.13em;
$size-huge: 1.5em;
$size-giant: 2.7em;

$size-print-tiny: 7pt;
$size-print-small: 8pt;
$size-print-base: 9pt;
$size-print-large: 11pt;
$size-print-huge: 13pt;
$size-print-giant: 16pt;
