/**
*** Variables
**/

$color-brand: #660066;
$color-brand-bright: #7F0D7F;
$color-accent: #0A6658;
$color-accent-bright: #067F6D;
$color-secondary: #403306;

$size-tiny: 1em;
$size-small: .875em;
$size-base: 1em;
$size-large: 1.125em;
$size-huge: 1.5em;
$size-giant: 2.7em;
