<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "CreativeWork",
        "url": "{{ site.url }}{{ work.links[0].link | url }}",
        "name": {{ work.title | jsonify }},
        "description": {{ work.summary | jsonify }},
        "author": {
            "@type": "Person",
            "name": "{% if work.author %}{{ work.author }}{% else %}{{ site.author }}{% endif %}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ work.publisher }}",
            "logo": "{{ work.publisher_logo }}"
        },
        "datePublished": "{{ work.publish_date | shortdate }}",
        "dateModified": "{{ work.publish_date | shortdate }}"
    }
</script>
