<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "url": "{{ site.url }}{{ article.url | url }}",
        "mainEntityOfPage": {{ article.templateContent | jsonify }},
        "name": {{ article.data.title | jsonify }},
        "headline": {{ article.data.title | jsonify }},
        "image": "{{ site.url }}/files/logo.jpg",
        "description": {{ article.data.page.excerpt | jsonify }},
        "author": {
            "@type": "Person",
            "name": "{% if article.author %}{{ article.author }}{% else %}{{ site.author }}{% endif %}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": "{{ site.url }}/files/logo.jpg"
        },
        "datePublished": "{{ article.date | shortdate }}",
        "dateModified": "{{ article.date | shortdate }}",
        "keywords": "{{ article.data.tags | sentence }}"
    }
</script>
