---
layout: default
---
<nav class="nav">
    <a class="nav--link nav--back" href="{{ site.baseurl }}/news/">Back to News</a>
</nav>

<article class="news">
    <header>
        <h1 class="news--heading">{{ page.title }}</h1>

        <span class="news--meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% if page.author %} &bull; {{ page.author }}{% endif %}
            {% if page.meta %} &bull; {{ page.meta }}{% endif %}
        </span>
    </header>

    <section class="news--content">
        {{ content }}
    </section>

{% if page.tags %}
    <footer>
        <ul class="news--list">
            {% for tag in page.tags %}
                <li class="news--tag">{{ tag }}</li>
            {% endfor %}
        </ul>
    </footer>
{% endif %}

    {% include "schema_newsarticle.html", article=page %}
</article>
