---
layout: default
---
<nav class="nav">
    <a class="nav--link nav--back" href="/news/">Back to News</a>
</nav>

<article class="news">
    <header>
        <h1 class="news--heading">{{ page.title }}</h1>

        <span class="news--meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% if page.author %} &bull; {{ page.author }}{% endif %}
            {% if page.meta %} &bull; {{ page.meta }}{% endif %}
        </span>
    </header>

    <section class="news--content">
        {{ content }}
    </section>

{% if page.tags %}
    <footer>
        <ul class="news--list">
            {% for tag in page.tags %}
                <li class="news--tag">{{ tag }}</li>
            {% endfor %}
        </ul>
    </footer>
{% endif %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "url": "{{ page.url }}",
            "mainEntityOfPage": {{ content | jsonify }},
            "name": "{{ page.title }}",
            "headline": "{{ page.title }}",
            "image": "/files/logo.jpg",
            "author": {
                "@type": "Person",
                "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.title }}",
                "logo": "/files/logo.jpg"
            },
            "datePublished": "{{ page.date | date: "%b %-d, %Y" }}",
            "dateModified": "{{ page.date | date: "%b %-d, %Y" }}",
            "keywords": "{{ page.tags | array_to_sentence_string }}"
        }
    </script>
</article>
