---
layout: layouts/default.html
---
<nav class="nav">
    <a class="nav--link nav--back" href="{{ site.baseurl }}/news/">Back to News</a>
</nav>

<article class="news">
    <header>
        <h1 class="news--heading">{{ title }}</h1>

        <span class="news--meta">
            {{ page.date | shortdate }}
            {% if author %} &bull; {{ author }}{% endif %}
            {% if meta %} &bull; {{ meta }}{% endif %}
        </span>
    </header>

    <section class="news--content">
        {{ content }}
    </section>

{% if tags %}
    <footer>
        <ul class="news--list">
            {%- for tag in tags -%}
                <li class="news--tag">{{ tag }}</li>
            {%- endfor -%}
        </ul>
    </footer>
{% endif %}

    {{ include "schema_newsarticle.html", article=page }}
</article>
