---
layout: layouts/default.html
---
<nav class="nav">
    <a class="nav--link nav--back" href="{{ site.baseurl }}/news/">Back to News</a>
</nav>

<article class="news">
    <header>
        <h1 class="news--heading">{{ title }}</h1>

        <span class="news--meta">
            {{ page.date | shortdate }}
            {% if author %} &bull; {{ author }}{% endif %}
            {% if meta %} &bull; {{ meta }}{% endif %}
        </span>
    </header>

    <section class="news--content">
        {{ content }}
    </section>

{% if tags %}
    <footer>
        <ul class="news--list">
            {%- for tag in tags -%}
                <li class="news--tag">{{ tag }}</li>
            {%- endfor -%}
        </ul>
    </footer>
{% endif %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "url": "{{ site.url }}{{ url | url }}",
            "mainEntityOfPage": {{ content | jsonify }},
            "name": {{ title | jsonify }},
            "headline": {{ title | jsonify }},
            "image": "{{ site.url }}/files/logo.jpg",
            "description": {{ page.excerpt | jsonify }},
            "author": {
                "@type": "Person",
                "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.title }}",
                "logo": "{{ site.url }}/files/logo.jpg"
            },
            "datePublished": "{{ page.date | shortdate }}",
            "dateModified": "{{ page.date | shortdate }}",
            "keywords": "{{ tags | sentence }}"
        }
    </script>
</article>
